/* IBM Plex Sans - Regular */
@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Thin.ttf")
		format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-ThinItalic.ttf")
		format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-ExtraLight.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-LightItalic.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Italic.ttf")
		format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Medium.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-MediumItalic.ttf")
		format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-SemiBoldItalic.ttf")
		format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans-BoldItalic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}

/* IBM Plex Sans Condensed */
@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-Thin.ttf")
		format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-ThinItalic.ttf")
		format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-ExtraLight.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-LightItalic.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-Italic.ttf")
		format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-Medium.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-MediumItalic.ttf")
		format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-SemiBoldItalic.ttf")
		format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_Condensed-BoldItalic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}

/* IBM Plex Sans Semi Condensed */
@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-Thin.ttf")
		format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-ThinItalic.ttf")
		format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-ExtraLight.ttf")
		format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-ExtraLightItalic.ttf")
		format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-Light.ttf")
		format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-LightItalic.ttf")
		format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-Regular.ttf")
		format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-Italic.ttf")
		format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-Medium.ttf")
		format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-MediumItalic.ttf")
		format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-SemiBold.ttf")
		format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-SemiBoldItalic.ttf")
		format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-Bold.ttf")
		format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "IBM Plex Sans Semi Condensed";
	src: url("../fonts/IBM_Plex_Sans/static/IBMPlexSans_SemiCondensed-BoldItalic.ttf")
		format("truetype");
	font-weight: 700;
	font-style: italic;
}

/* Lobster */
@font-face {
	font-family: "Lobster";
	src: url("../fonts/Lobster/Lobster 1.4.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

/* Poppins */
@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Poppins";
	src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
}
