html,
body {
	background-color: var(--font-color) !important;

}

header{
	&::before{
		display: none !important;
	}
}

.titre {
	align-items: center;
	font-size: 12px;
}

.grille {
	display: grid;
	grid-template-columns: 505px 505px;
	gap: 20px;
	margin: 20px;
}

.grille-item {
    position: relative;
}

.grille-item img {
    display: block;
    width: 100%;
    border-radius: 10px;
}

.grille-item h4 {
    position: absolute;
    bottom: 116px;
    left: 30px;
	font-size: 19px;
    color: black;
    background: rgba(248, 248, 248, 0.5);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(0.1px);
}