html,
body {
	background-color: var(--font-color);
}

main {
    color: black;
}

.titre {
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    text-align: center;
}

.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}

