html,
body {
	background-color: var(--green-white);
}

header{
    &::before{
        display: none!important;
    }
}

main{
    color : var(--font-color);
    font-weight: bold;
}

.titre {
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 12px;
    text-align: center;
}
.bas{
    display:flex;
    flex-direction: row;
    gap:100px;
    margin-bottom:50px;
    justify-items: center;
}
.colonne-gauche{
    display: flex;
    flex-direction: column;
    gap: 50px;
    color:var(--font-color);
}
.about-us{
    width: 234px;
    height: 180px;
}


.haut{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-top: 50px;
    


}
.img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
.rse{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre le texte et la ligne horizontalement */
    gap: 0;              /* Supprime l'espace automatique entre les deux */
    margin: 40px 0;
}
.titre-rse{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;           
    color: var(--font-color);       
    font-size: 20px;
    font-weight: bold;

}
