@import url("../css/font.css");

:root {
	--green-white: #338f09;
	--font-color: #e0d8ce;
	--green-black: #173b18;
	--linear-green: linear-gradient(89.71deg, #173b18 0%, #338f09 100%);
	--star-color: #ffff00;
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	background-color: var(--green-white);
}

nav {
	background-color: var(--font-color);
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: row;
	height: 80px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 20px;
}

nav ul img {
	width: 50px;
	height: auto;
}

nav ul a {
	font-family: "IBM Plex Sans";
	font-size: 18px;
	font-style: normal;
	line-height: 23px;
	text-decoration: none;
	color: black;
}

nav ul a.active {
	background: var(--linear-green);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	position: relative;
	display: flex;
	justify-content: center;

	&::before {
		content: "";
		background: var(--linear-green);
		display: flex;
		height: 1px;
		width: 25px;
		position: absolute;
		bottom: 0;
	}
}

header{
	color: white;
}

header .banner {
	width: 100%;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../img/fond/creer-potager-bio-banniere_1_1.jpg);
	background-size: cover;
	background-position: center;
}

div.message-title{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	font-family: 'IBM Plex Sans';
	font-size: 25px;
	gap: 10px;
	color: white;
	
	&::before{
		content: '';
		background: var(--linear-green);
		width: 100px;
		height: 5px;
	}
}

h1.title{
	font-family: 'Lobster';
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;

	font-size: 45px;

	&::after {
	color: white;
		content: 'Authentique';
		background: var(--linear-green);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&::before{
		content:"Potager";
	}
}